body {
    background-color: #FFFDFA;
}


#dropdown-menu-button {
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background-color: #90c590;
    height: 50px;
    color: black;
    width: 60px;
    /* border-left: 1px solid white; */
    /* border-radius: 5px; */
}
#dropdown-menu-button:hover {
    background-color: black;
}
#dropdown-menu-image {
   /* background-color: #15d08b; */
    height: 35px;
    width: 35px;
    color: black;
}

#email-image-dropdown {
   padding-right: 10px;
   /* padding-left: 10px; */
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#email-inside-dropdown {
   
    
   
}

.navbar-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 8px;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: white;
    /* box-shadow: 2px 2px #eeebeb; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    
}

.navbar-buttons {
    /* display: block; */

    color: black;
    font-weight:bold;
    padding:  10px;
    padding-top: 15px;
    /* padding-left: 15px; */
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 1px solid white;
    height: 25px;
    width: 70px;
    display: flex;
    justify-content: center;
   
}

.navbar-buttons:hover {
    background-color: #90c590;
    color: white;
}

.navbar-li {
    text-decoration: none;
    /* border-right: orangered; */
}

.navbar-ul {
list-style-type: none;
}

#navbar-signup-button {
    /* float: right; */
    position: fixed;
    top: 0;
    right: 0;
    /* z-index: 999; */
    /* width: 100%; */
    /* height: 50px; */

}

#navbar-login-button {
   
    position: fixed;
    top: 0;
    right: 91px;
    /* z-index: 999; */
    /* height: 25px; */
}

#navbar-home-button {
    /* border-right: 1px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    /* border-right: orangered; */
    /* z-index: 999; */
}

.profile-dropdown {
    box-sizing: border-box;
    /* border: 2px solid #15d08b; */
    float: right;
    width: fit-content;
    list-style-type: none;
    border-radius: 3px;
    background-color: #FFFDFA;
    /* padding: 20px; */
    margin-top: 50px;
    margin-right: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.logout-button-inside-dropdown {
    /* height: 40px;    */
    margin-top: 10px;
    padding: 8px;
    border: none;
    color: white;
    background-color: orangered;
    font-weight: bold;
    float: right;
    border-radius: 25px;

}
.logout-button-inside-dropdown:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

#username-inside-dropdown {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeebeb;
}

#email-inside-dropdown {
    padding-top: 10px;
    border-bottom: 1px solid #eeebeb;
    padding-bottom: 10px;
}

.navbar-logo-phrase {
    position: fixed;
    left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orangered;
    /* font-weight: lighter; */
    /* font-style: italic; */
}